<div class="container" id="aboutPage">
    <h1>About Grocery Bazaar</h1>
    <div class="row">
        <div class="col-sm-6 pull-left"><img class="img-responsive" ng-src="http://lifestyle.inquirer.net/files/2016/12/t1222reyes-landers_feat1_8.jpg" alt=""></div>
        <div class="col-sm-6 text-justify">
            <h3>About Grocery Bazaar</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros sollicitudin, luctus velit sit amet, posuere quam. Phasellus risus magna, pellentesque et hendrerit quis, rhoncus sit amet neque. Vivamus convallis at sem ut facilisis. Sed rutrum
            neque at turpis interdum, eget cursus felis congue. Fusce porta sit amet mauris vitae vulputate. Nam euismod enim vitae ex facilisis euismod. Sed lacinia dolor ut ultrices lobortis. Fusce tempor justo dui, sit amet commodo justo fringilla
            scelerisque. Maecenas id malesuada purus. Morbi justo sapien, tempor sed erat accumsan, condimentum viverra elit. Integer velit lectus, mattis in dapibus nec, efficitur nec tellus. Fusce et varius nibh, nec consequat lectus. Nunc vitae varius
            quam. Praesent bibendum non risus et facilisis.</div>
    </div>
    <div class="col-xs-12 text-justify">
        <h4>The Beginning of Grocery Bazaar</h4>

        <p>Quisque eget tellus eu justo tempor luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce commodo viverra nisi at luctus. Nulla facilisi. Pellentesque consequat ligula in augue euismod, a pretium
            enim efficitur. In sed quam odio. Morbi maximus neque id elit vehicula, et congue nisl vulputate. Aliquam ornare ex vitae est tincidunt fringilla. Sed viverra accumsan tempus. Maecenas venenatis nisl eu placerat porttitor. Morbi semper mattis
            massa, dictum commodo ante mattis id. Nunc blandit eros velit, et auctor magna sagittis eu. Pellentesque ut justo elit. Etiam vitae pellentesque nunc. Proin et posuere metus, vel blandit quam. Ut imperdiet consectetur dui, viverra tristique
            arcu hendrerit at.
        </p>
        <p>
            Pellentesque lobortis risus vel massa pharetra euismod. Vivamus eu tempor turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Vivamus facilisis, arcu sit amet tempus ultrices, ante erat euismod ipsum, quis
            porttitor turpis tortor sed lectus. Curabitur sed pulvinar orci. Etiam aliquet dui eu orci blandit rhoncus. Suspendisse viverra, odio et ornare iaculis, dolor elit congue lacus, ut consectetur enim sem sed erat. Curabitur at dolor vitae ligula
            euismod mollis et a tortor. Nulla pharetra auctor libero, scelerisque imperdiet dui volutpat a. Pellentesque scelerisque rhoncus orci ac sollicitudin. Proin egestas ex sit amet diam ultrices gravida. Quisque eu mi sed nibh molestie dignissim.
            Donec quis lectus at odio varius rutrum congue vel nisl.</p>
        <p>

            Phasellus a turpis in elit gravida tristique vitae quis tellus. Sed at mauris eget nunc fringilla porta id ut purus. Suspendisse bibendum convallis risus. Suspendisse porta nec sapien vitae volutpat. Cras viverra tempus nisi sit amet commodo. Ut id libero
            ut augue tristique sagittis ac nec dolor. Vivamus congue neque accumsan massa accumsan accumsan. Proin varius metus ac suscipit gravida. Pellentesque a pellentesque enim. Maecenas gravida tortor pretium est venenatis ornare. Nulla dictum purus
            velit, vitae luctus odio luctus quis.</p>
        <div class="row text-right">
            <button class="btn btn-warning goShoppingBtn"><a href="#/products">Shop Now</a></button>
        </div>
    </div>
</div>