<div class="container" ng-controller="CartController" id="cartPage">
    <h1>Order Summary</h1>
    <div class="alert alert-danger" ng-show="cartItems == 0">
        You have no product in your cart yet. <a href="#/products" class="alert-link">Click here to go shopping</a>
    </div>

    <div class="row" ng-show="cartItems.length > 0">
        <div class="col-sm-8">
            <table class="table">
                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cartItems">
                        <td><img ng-src="{{item.imagelink}}" alt="" width="50px" height="50px"></td>
                        <td>{{item.name}}</td>
                        <td>{{item.price | currency}}</td>
                        <td><input class="qtyInput" type="number" min="1" max="{{item.stock}}" ng-model="item.qty" ng-change="changeQty($index, item.qty)"></td>
                        <td>{{item.price * item.qty | currency}}</td>
                        <td><button ng-click="removeItem(item.name)" class="btn btn-default"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <!-- <hr> -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal:</td>
                        <td>{{total() | currency}}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-4">
            <div id="paymentDetails">
                <p>Shipping: {{ shippingRate() | currency}}</p>
                <p>Tax: {{tax() | currency}}</p>
                <p>Total: {{totalCharge() | currency}}</p>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a href="#/products" class="btn btn-success btn-lg">Continue shopping</a>
            <a href="#/placeorder" class="btn btn-danger btn-lg">Place order</a>
        </div>
    </div>
</div>